---
import Default from "../../layouts/Default.astro";
---

<Default title="Writings Hub - Grayvox">
    <div>
        <p>
            <a href="/writings/blog">» Blog</a>
            <br>
            <a href="/writings/tales">» Tales</a>
        </p>
    </div>
</Default>