---
import BasicCard from "../../components/BasicCard.astro";
import Default from "../../layouts/Default.astro";
---

<Default title="Writings Hub - Grayvox">
    <div>
        <h1>Writings</h1>
        <p>
            I write - a lot. So I've divided everything up into sections so it's
            easier to find what you're looking for.
        </p>
        <p>
            <ul>
                <a class="no-line" href="/writings/blog">
                    <BasicCard
                        title="A Cavernous Blog 🔗"
                        subtext="Published from 2024 - Present"
                        link="/writings/blog"
                    >
                        Thoughts? Rants? Ramblings? Lectures? Lessons? Hard to know. Read and find out.
                    </BasicCard>
                </a>
            </ul>
        </p>
    </div>
</Default>
