---
import Default from "../layouts/Default.astro";
---

<Default title="Contact Me | Grayvox">
    <div>
        <h1>Contact Me</h1>
        <p>
            ↳ <a class="text-cat-flamingo" href="mailto:gray@grayvox.com">Email</a>
            <br>
            ↳ <a class="text-cat-blue" href="https://discord.com/users/1263900642741583923" target="_blank" rel="noopener noreferrer">Discord</a>
        </p>
        <p>
            <b>DISCLAIMER:</b> I prefer contact over Discord, UNLESS it is for a more professional 
            matter (e.g. collaboration or partnership). 
        </p>
    </div>
</Default>