---
import BasicCard from "../components/BasicCard.astro";
import Default from "../layouts/Default.astro";

import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

<Default title="Project Roster | Grayvox">
    <div>
        <h1>Project Roster</h1>
        <p>
            Any projects I'm actively working on that <i>aren't</i> just words on
            "paper".
        </p>
    </div>
    <div>
        <ul class="mt-10">
            {
                projects.map((project) => (
                    <li>
                        <BasicCard
                            title={project.data.title}
                            subtext={project.data.subtext}
                            links={project.data.links}
                        >
                            {project.body}
                        </BasicCard>
                    </li>
                ))
            }
        </ul>
    </div>
</Default>
