---
import FormattedDate from "./FormattedDate.astro";

const { title, summary, date, tag } = Astro.props;
---

<div>
    <h3 class="no-break no-line">{title}</h3>
    <p class="no-break">
        <slot />
    </p>
    <p class="text-cat-subtext0 no-underline">
        ↳ <FormattedDate date={date} />・{tag}
    </p>
</div>
