---
import Link from "./Link.astro";
---

<div id="greetings">
	<h1 class="mb-8">👋 Greetings humans</h1>
	<div>
		<p>
			I'm Gray, short for Grayvox 
			<span class="text-cat-subtext0">(/grā-vŏks/)</span>.
		</p>
		<p>
			That's an assumed name of course. Curious about my real name? Try
			<Link to="https://www.youtube.com/watch?v=zesdXeaLCDI">here</Link>.
		</p>
		<p>
			To summerize, I'm a writer. Of code. Of stories. Of thoughts. Of
			ideas. I tell stories through many avenues but just summing it all
			up as a "writer of many things" is easiest. I dabble in
			worldbuilding, pixel art, game dev, game modding, music, server
			administration... See what I mean?
		</p>
		<p>
			I have a mild obsession with
			<span class="text-cat-mauve">Obsidian</span> and use it for all my writing,
			worldbuilding, project planning, rambling, etc. I've even built a plugin
			for it called
			<a href="https://github.com/Grayvox/obsidian-character-sheets"
				>Character Sheets</a
			>, which... well, it does what it sounds like it does. I write about
			the app regularly on my
			<a href="/writings/blog">blog</a> too. You can consider my writings to
			usually involve elements of
			<span class="text-cat-green">Fantasy</span>,
			<span class="text-cat-sapphire">Dystopian</span>,
			<span class="text-cat-red">Horror</span> and
			<span class="text-cat-flamingo">Bad Jokes</span>.
		</p>
		<p>
			I mainly write code in
			<span class="text-cat-sapphire">TypeScript</span> and
			<span class="text-cat-peach">Rust</span>, using
			<span class="text-cat-sky">VS Code</span> on
			<span class="text-cat-green">WSL2</span> running
			<span class="text-cat-flamingo">Ubuntu</span> (I occasionally write some
			<span class="text-cat-yellow">Java</span> with
			<span class="text-cat-mauve">IntelliJ</span> for Minecraft related stuff
			as well). My editor theme is
			<span class="text-cat-lavender">Catppuccin Mocha</span> (which is the
			same as this website!) and my font is
			<span class="text-cat-lavender">Cascadia Code</span>. Most of my
			work is in web dev, system programming and sysadmin stuff.
		</p>
		<p>
			I build games using
			<span class="text-cat-blue">Godot Engine</span> and
			<span class="text-cat-flamingo">Aseprite</span>. I'm (eventually
			going to start) experimenting with 3D games using
			<span class="text-cat-peach">Blender</span> and
			<span class="text-cat-lavender">Material Maker</span> as well. I mainly
			dive into genres like horror, retro, RPGs and some point and click.
		</p>
		<p>
			I'm currently focused on learning
			<span class="text-cat-peach">Rust</span>, and planning to dive into
			<span class="text-cat-peach">Svelte</span> and
			<span class="text-cat-mauve">C#</span> soon too.
		</p>
	</div>
</div>
