---
import { Image } from 'astro:assets';
import GrayVisor from '../assets/GrayvoxVisor.png';

import NavLink from './NavLink.astro';
---

<div class="flex">
    <div>
        <a href="/">
            <Image src={GrayVisor} alt="Wolf with sunglasses avatar" width="50" class="hidden xl:block" />
        </a>
    </div>
    <div class="grow-1"></div>
    <div class="mx-auto my-auto flex">
        <NavLink href="/">./home</NavLink>
        <NavLink href="/projects">./projects</NavLink>
        <NavLink href="/writings">./writings</NavLink>
        <NavLink href="/uses">./uses</NavLink>
        <NavLink href="/contact">./contact</NavLink>     
    </div>
</div>