---
const { title, builtWith } = Astro.props;
---

<li>
    <h3 class="no-break no-line">{title}</h3>
    <p>
        <slot />
        <br>
        <span class="text-cat-subtext0">↳ Built with {builtWith}</span>
    </p>
</li>