---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";

const { title } = Astro.props;

import "../styles/global.css";
---

<style>
    body {
        height: 100%;
    }

    @view-transition {
        navigation: auto;
    }

    main {
        min-height: 100%;
    }

    .footer {
        height: 100px;
        margin-bottom: -100px;
    }
</style>

<Head title={title} />
<body>
    <div>
        <div class="lg:px-[25rem] py-10">
            <Header />
        </div>
        <div class="mt-[3rem] lg:mx-[25rem] mx-[1rem] text-cat-text">
            <main>
                <slot />
            </main>
            <div class="footer mt-20 mb-5">
                <Footer />
            </div>
        </div>
    </div>
</body>
