---
import Head from "../components/Head.astro";
import NavBar from "../components/NavBar.astro";

const { title } = Astro.props;

import './src/styles/global.css'
---

<Head title={title} />
<body>
    <div class="px-[25rem] py-10">
        <NavBar />
    </div>
    <div class="mt-[3rem] mx-[25rem] text-cat-text">
        <slot />
    </div>
</body>
